<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teleflix</title>
    
    <script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <a class="github-fork-ribbon" href="https://github.com/thewh1teagle/telegram_streamer" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
    <h1 id="title">Teleflix</h1>

    <h2 id="video-name">
        {{ video_name}}
    </h2>

    <div class="video-container">
        <video allowfullscreen id="example-player">
            <source id="video_src" src="{{ video_url}}" type="video/mp4"/>
        </video>
    </div>


    <script src="/static/js/video_player.js"></script>
</body>
</html>